{% extends "base.html" %} {% comment %} to extend from the base HTML file {% endcomment %}

{% load wagtailcore_tags wagtailimages_tags %} {% comment %} to load watail tags for core and images {% endcomment %}

{% block imageIcon %}
    {% image self.banner_image original as logo %} {% comment %} to import image from wagtail model {% endcomment %}
    {{ logo.url }}
{% endblock imageIcon %}

{% block content %} 

    <div class="card border-secondary mb-2">
        <div class="container-fluid py-5 text-white bg-dark">
            <h1 class="display-5 fw-bold">Hello, {{self.banner_titles}}</h1>
            <p class="col-md-8 fs-4"> {{self.banner_subtitle|richtext}} </p>
            <hr class="my-4" style = "border-top: 2px solid white;">
            <p class="col-md-8 fs-4">It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
        </div>
    </div>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for loop_cycle in self.carousel_images.all %}
        <p>"{{forloop.counter0}}"</p>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}active{% endif %}" aria-current="{% if forloop.counter == 1 %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
    {% comment %} <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> {% endcomment %}
  </div>
  <div class="carousel-inner">
    {% for loop_cycle in self.carousel_images.all %}
        {% image loop_cycle.carousel_image fill-900x450 as img %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" onclick="location.href='{{loop_cycle.carousel_link.url }}'">
            <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ loop_cycle.carousel_title }}</h5>
                <p>{{ loop_cycle.carousel_subtitle }}</p>
            </div>
        </div>

    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    {% for block in page.content %}

    {% include_block block %}
    
    {% endfor %}
{% endblock content %}
