.page-explorer .listing .index{
    background-image: linear-gradient(150deg, yellow, red , purple , purple );
}

header {
    background-image: linear-gradient(150deg, yellow, red , purple , purple , purple );

}


.breadcrumb{
    background-color:#3E065F;
}

.sidebar{
    right:0;
    left:auto;
}

@media screen and (min-width: 50em){
body.ready .wrapper, body.ready body.nav-open .wrapper {
    transition: padding-right .15s ease;
}}

@media screen and (min-width: 50em){
.wrapper, body.nav-open .wrapper{
    padding-left: 0;
    padding-right: 200px;
}}

@media screen and (min-width: 50em){
body.sidebar-collapsed .wrapper{
    padding-left: 0;
    padding-right: 60px;
}}