{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block imageIcon %}

    https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300

{% endblock %}

{% block content %} 
<a href="{% routablepageurl page "last_posts" %}">Latest Posts</a>

            <div>
                <h4>
                    Categories
                </h4>
                <ul>
                    {% for cat in categories %}
                        <li>
                            <a href="?category={{ cat.slug }}">
                            {{ cat.name }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

<div class="container">
    {% for post in posts %}
        <div class="row my-2">
            <div class="col-sm-4">
                {% image post.blog_image fill-340x180 as blog_img %}
                <a href="{{ post.url }}">
                    <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                </a>
            </div>
            <div class="col-sm-8">
                <a href="{{ post.url }}">
                    {{ post.custom_title }}
                </a>
            </div>
        </div>
    {% endfor %}
</div>

    {% comment %} <div class="card border-warning mb-2">
        <div class="container-fluid py-5 text-white bg-dark">
            <h1 class="display-5 fw-bold">Hello To My {{self.subtitle}}</h1>
            <hr class="my-4" style = "border-top: 2px solid white;">
            <p class="col-md-8 fs-4">It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
        </div>
    </div>

    {% for block in page.content %}

    {% include_block block %}
    
    {% endfor %} {% endcomment %}

{% endblock content %}
